# Downloading Market and Fundamental Data with `yfinance`

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import yfinance as yf

## How to work with a Ticker object

In [3]:
symbol = 'META'
ticker = yf.Ticker(symbol)

### Show ticker info

In [4]:
pd.Series(ticker.info).head(20)

address1                                                        1 Meta Way
city                                                            Menlo Park
state                                                                   CA
zip                                                                  94025
country                                                      United States
phone                                                         650 543 4800
website                                            https://investor.fb.com
industry                                    Internet Content & Information
industryKey                                   internet-content-information
industryDisp                                Internet Content & Information
sector                                              Communication Services
sectorKey                                           communication-services
sectorDisp                                          Communication Services
longBusinessSummary      Meta Platforms, Inc. engages in the developmen...
fullTimeEmployees                                                    69329
companyOfficers          [{'maxAge': 1, 'name': 'Mr. Mark Elliot Zucker...
auditRisk                                                                9
boardRisk                                                               10
compensationRisk                                                        10
shareHolderRightsRisk                                                   10
dtype: object

### Get market data

In [5]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1946 entries, 2024-06-05 09:30:00-04:00 to 2024-06-11 15:59:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1946 non-null   float64
 1   High          1946 non-null   float64
 2   Low           1946 non-null   float64
 3   Close         1946 non-null   float64
 4   Volume        1946 non-null   int64
 5   Dividends     1946 non-null   float64
 6   Stock Splits  1946 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 121.6 KB

### View company actions

In [6]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [7]:
ticker.dividends

Series([], Name: Dividends, dtype: float64)

In [8]:
ticker.splits

Series([], Name: Stock Splits, dtype: float64)

### Annual and Quarterly Financial Statement Summary

In [9]:
ticker.financials

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,-64416000.0,-15795000.0,-23380000.0,-15738000.0,NaN
Tax Rate For Calcs,0.176,0.195,0.167,0.122,NaN
Normalized EBITDA,59418000000.0,37771000000.0,55414000000.0,39662000000.0,NaN
Total Unusual Items,-366000000.0,-81000000.0,-140000000.0,-129000000.0,NaN
Total Unusual Items Excluding Goodwill,-366000000.0,-81000000.0,-140000000.0,-129000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Reconciled Depreciation,11178000000.0,8686000000.0,7967000000.0,6862000000.0,NaN
Reconciled Cost Of Revenue,25959000000.0,25249000000.0,22649000000.0,16692000000.0,NaN
EBITDA,59052000000.0,37690000000.0,55274000000.0,39533000000.0,NaN
EBIT,47874000000.0,29004000000.0,47307000000.0,32671000000.0,NaN
Net Interest Income,1043000000.0,-44000000.0,671000000.0,638000000.0,NaN
Interest Expense,446000000.0,185000000.0,23000000.0,NaN,20000000.0
Interest Income,1639000000.0,461000000.0,484000000.0,672000000.0,NaN
Normalized Income,39399584000.0,23265205000.0,39486620000.0,29259262000.0,NaN
Net Income From Continuing And Discontinued Operation,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Total Expenses,88151000000.0,87665000000.0,71176000000.0,53294000000.0,NaN
Total Operating Income As Reported,46751000000.0,28944000000.0,46753000000.0,32671000000.0,NaN
Diluted Average Shares,2629000000.0,2702000000.0,2859000000.0,2888000000.0,NaN
Basic Average Shares,2574000000.0,2687000000.0,2815000000.0,2851000000.0,NaN
Diluted EPS,14.87,8.59,13.77,10.09,NaN
Basic EPS,15.19,8.63,13.99,10.22,NaN
Diluted NI Availto Com Stockholders,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Average Dilution Earnings,NaN,NaN,NaN,NaN,0.0
Net Income Common Stockholders,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Otherunder Preferred Stock Dividend,NaN,NaN,NaN,0.0,0.0
Net Income,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Net Income Including Noncontrolling Interests,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Net Income Continuous Operations,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN
Tax Provision,8330000000.0,5619000000.0,7914000000.0,4034000000.0,NaN
Pretax Income,47428000000.0,28819000000.0,47284000000.0,33180000000.0,NaN
Other Income Expense,-366000000.0,-81000000.0,-140000000.0,-129000000.0,NaN
Other Non Operating Income Expenses,NaN,-320000000.0,210000000.0,-34000000.0,27000000.0
Gain On Sale Of Security,-366000000.0,-81000000.0,-140000000.0,-129000000.0,NaN
Net Non Operating Interest Income Expense,1043000000.0,-44000000.0,671000000.0,638000000.0,NaN
Total Other Finance Cost,150000000.0,320000000.0,-210000000.0,34000000.0,NaN
Interest Expense Non Operating,446000000.0,185000000.0,23000000.0,NaN,20000000.0
Interest Income Non Operating,1639000000.0,461000000.0,484000000.0,672000000.0,NaN
Operating Income,46751000000.0,28944000000.0,46753000000.0,32671000000.0,NaN
Operating Expense,62192000000.0,62416000000.0,48527000000.0,36602000000.0,NaN
Research And Development,38483000000.0,35338000000.0,24655000000.0,18447000000.0,NaN
Selling General And Administration,23709000000.0,27078000000.0,23872000000.0,18155000000.0,NaN
Selling And Marketing Expense,12301000000.0,15262000000.0,14043000000.0,11591000000.0,NaN
General And Administrative Expense,11408000000.0,11816000000.0,9829000000.0,6564000000.0,NaN
Other Gand A,11408000000.0,11816000000.0,9829000000.0,6564000000.0,NaN
Gross Profit,108943000000.0,91360000000.0,95280000000.0,69273000000.0,NaN
Cost Of Revenue,25959000000.0,25249000000.0,22649000000.0,16692000000.0,NaN
Total Revenue,134902000000.0,116609000000.0,117929000000.0,85965000000.0,NaN
Operating Revenue,133844000000.0,115801000000.0,117208000000.0,85308000000.0,NaN

In [10]:
ticker.quarterly_financials

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Tax Effect Of Unusual Items,-32560000.0,-10126137.918724,-16660000.0,-23200000.0,-8190000.0,NaN,NaN
Tax Rate For Calcs,0.22,0.166002,0.17,0.16,0.13,NaN,NaN
Normalized EBITDA,17832000000.0,20176000000.0,17116000000.0,12177000000.0,9949000000.0,NaN,NaN
Total Unusual Items,-148000000.0,-61000000.0,-98000000.0,-145000000.0,-63000000.0,NaN,NaN
Total Unusual Items Excluding Goodwill,-148000000.0,-61000000.0,-98000000.0,-145000000.0,-63000000.0,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,12369000000.0,14017000000.0,11583000000.0,7788000000.0,5709000000.0,NaN,NaN
Reconciled Depreciation,3374000000.0,3172000000.0,2859000000.0,2623000000.0,2524000000.0,NaN,NaN
Reconciled Cost Of Revenue,6640000000.0,7695000000.0,6210000000.0,5945000000.0,6108000000.0,NaN,NaN
EBITDA,17684000000.0,20115000000.0,17018000000.0,12032000000.0,9886000000.0,NaN,NaN
EBIT,14310000000.0,16943000000.0,14159000000.0,9409000000.0,7362000000.0,NaN,NaN
Net Interest Income,513000000.0,484000000.0,370000000.0,46000000.0,143000000.0,NaN,NaN
Interest Expense,127000000.0,136000000.0,139000000.0,116000000.0,55000000.0,NaN,NaN
Interest Income,585000000.0,588000000.0,534000000.0,323000000.0,193000000.0,NaN,NaN
Normalized Income,12484440000.0,14067873862.081276,11664340000.0,7909800000.0,5763810000.0,NaN,NaN
Net Income From Continuing And Discontinued Operation,12369000000.0,14017000000.0,11583000000.0,7788000000.0,5709000000.0,NaN,NaN
Total Expenses,22637000000.0,23727000000.0,20398000000.0,22607000000.0,21418000000.0,NaN,NaN
Total Operating Income As Reported,13818000000.0,16384000000.0,13748000000.0,9392000000.0,7227000000.0,NaN,NaN
Diluted Average Shares,2625000000.0,2630000000.0,2641000000.0,2612000000.0,2596000000.0,NaN,NaN
Basic Average Shares,2545000000.0,2566000000.0,2576000000.0,2568000000.0,2587000000.0,NaN,NaN
Diluted EPS,4.71,5.33,4.39,2.98,2.2,NaN,NaN
Basic EPS,4.86,5.46,4.5,3.03,2.21,NaN,NaN
Diluted NI Availto Com Stockholders,12369000000.0,14017000000.0,11583000000.0,7788000000.0,5709000000.0,NaN,NaN
Average Dilution Earnings,NaN,NaN,NaN,NaN,801000000.0,NaN,665000000.0
Net Income Common Stockholders,12369000000.0,14017000000.0,11583000000.0,7788000000.0,5709000000.0,NaN,NaN
Net Income,12369000000.0,14017000000.0,11583000000.0,7788000000.0,5709000000.0,NaN,NaN
Net Income Including Noncontrolling Interests,12369000000.0,14017000000.0,11583000000.0,7788000000.0,5709000000.0,NaN,NaN
Net Income Continuous Operations,12369000000.0,14017000000.0,11583000000.0,7788000000.0,5709000000.0,NaN,NaN
Tax Provision,1814000000.0,2790000000.0,2437000000.0,1505000000.0,1598000000.0,NaN,NaN
Pretax Income,14183000000.0,16807000000.0,14020000000.0,9293000000.0,7307000000.0,NaN,NaN
Other Income Expense,-148000000.0,-61000000.0,-98000000.0,-145000000.0,-63000000.0,NaN,NaN
Other Non Operating Income Expenses,NaN,NaN,NaN,NaN,NaN,-339000000.0,-34000000.0
Gain On Sale Of Security,-148000000.0,-61000000.0,-98000000.0,-145000000.0,-63000000.0,NaN,NaN
Net Non Operating Interest Income Expense,513000000.0,484000000.0,370000000.0,46000000.0,143000000.0,NaN,NaN
Total Other Finance Cost,-55000000.0,-32000000.0,25000000.0,161000000.0,-5000000.0,NaN,NaN
Interest Expense Non Operating,127000000.0,136000000.0,139000000.0,116000000.0,55000000.0,NaN,NaN
Interest Income Non Operating,585000000.0,588000000.0,534000000.0,323000000.0,193000000.0,NaN,NaN
Operating Income,13818000000.0,16384000000.0,13748000000.0,9392000000.0,7227000000.0,NaN,NaN
Operating Expense,15997000000.0,16032000000.0,14188000000.0,16662000000.0,15310000000.0,NaN,NaN
Research And Development,9978000000.0,10517000000.0,9241000000.0,9344000000.0,9381000000.0,NaN,NaN
Selling General And Administration,6019000000.0,5515000000.0,4947000000.0,7318000000.0,5929000000.0,NaN,NaN
Selling And Marketing Expense,2564000000.0,3226000000.0,2877000000.0,3154000000.0,3044000000.0,NaN,NaN
General And Administrative Expense,3455000000.0,2289000000.0,2070000000.0,4164000000.0,2885000000.0,NaN,NaN
Other Gand A,3455000000.0,2289000000.0,2070000000.0,4164000000.0,2885000000.0,NaN,NaN
Gross Profit,29815000000.0,32416000000.0,27936000000.0,26054000000.0,22537000000.0,NaN,NaN
Cost Of Revenue,6640000000.0,7695000000.0,6210000000.0,5945000000.0,6108000000.0,NaN,NaN
Total Revenue,36455000000.0,40111000000.0,34146000000.0,31999000000.0,28645000000.0,NaN,NaN
Operating Revenue,36075000000.0,39777000000.0,33853000000.0,31774000000.0,28440000000.0,NaN,NaN

### Annual and Quarterly Balance Sheet

In [11]:
ticker.balance_sheet

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,0.0,NaN,NaN,NaN,NaN
Ordinary Shares Number,2561000000.0,2614000000.0,2741000000.0,2849000000.0,NaN
Share Issued,2561000000.0,2614000000.0,2741000000.0,2849000000.0,NaN
Total Debt,37234000000.0,26591000000.0,13873000000.0,10654000000.0,NaN
Tangible Book Value,131726000000.0,104510000000.0,105048000000.0,108617000000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,65403000000.0,40738000000.0,47998000000.0,61954000000.0,NaN
Other Short Term Investments,23541000000.0,26057000000.0,31397000000.0,44378000000.0,NaN
Cash And Cash Equivalents,41862000000.0,14681000000.0,16601000000.0,17576000000.0,NaN
Cash Equivalents,35597000000.0,8505000000.0,9293000000.0,11088000000.0,NaN
Cash Financial,6265000000.0,6176000000.0,7308000000.0,6488000000.0,NaN

In [12]:
ticker.quarterly_balance_sheet

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Treasury Shares Number,NaN,0.0,NaN,NaN,NaN,NaN,NaN
Ordinary Shares Number,2537000000.0,2561000000.0,2571000000.0,2573000000.0,2566000000.0,NaN,NaN
Share Issued,2537000000.0,2561000000.0,2571000000.0,2573000000.0,2566000000.0,NaN,NaN
Total Debt,37633000000.0,37234000000.0,36217000000.0,36218000000.0,27575000000.0,NaN,NaN
Tangible Book Value,128875000000.0,131726000000.0,121392000000.0,112518000000.0,103197000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,58120000000.0,65403000000.0,61123000000.0,53446000000.0,37439000000.0,NaN,NaN
Other Short Term Investments,25813000000.0,23541000000.0,24233000000.0,24661000000.0,25888000000.0,NaN,NaN
Cash And Cash Equivalents,32307000000.0,41862000000.0,36890000000.0,28785000000.0,11551000000.0,NaN,NaN
Cash Equivalents,25812000000.0,35597000000.0,31557000000.0,22663000000.0,5871000000.0,NaN,NaN
Cash Financial,6495000000.0,6265000000.0,5333000000.0,6122000000.0,5680000000.0,NaN,NaN

### Annual and Quarterly Cashflow Statement

In [13]:
ticker.cashflow

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,43847000000.0,19044000000.0,38993000000.0,23584000000.0,NaN
Repurchase Of Capital Stock,-19774000000.0,-27956000000.0,-44537000000.0,-6272000000.0,NaN
Repayment Of Debt,-1058000000.0,-850000000.0,-677000000.0,-604000000.0,NaN
Issuance Of Debt,8455000000.0,9921000000.0,0.0,0.0,NaN
Capital Expenditure,-27266000000.0,-31431000000.0,-18690000000.0,-15163000000.0,NaN
Interest Paid Supplemental Data,448000000.0,0.0,0.0,NaN,NaN
Income Tax Paid Supplemental Data,6607000000.0,6407000000.0,8525000000.0,4229000000.0,NaN
End Cash Position,42827000000.0,15596000000.0,16865000000.0,17954000000.0,NaN
Beginning Cash Position,15596000000.0,16865000000.0,17954000000.0,19279000000.0,NaN
Effect Of Exchange Rate Changes,113000000.0,-638000000.0,-474000000.0,279000000.0,NaN
Changes In Cash,27118000000.0,-631000000.0,-615000000.0,-1604000000.0,NaN
Financing Cash Flow,-19500000000.0,-22136000000.0,-50728000000.0,-10292000000.0,NaN
Cash Flow From Continuing Financing Activities,-19500000000.0,-22136000000.0,-50728000000.0,-10292000000.0,NaN
Net Other Financing Charges,-7123000000.0,-3251000000.0,-5514000000.0,-3416000000.0,NaN
Net Common Stock Issuance,-19774000000.0,-27956000000.0,-44537000000.0,-6272000000.0,NaN
Common Stock Payments,-19774000000.0,-27956000000.0,-44537000000.0,-6272000000.0,NaN
Net Issuance Payments Of Debt,7397000000.0,9071000000.0,-677000000.0,-604000000.0,NaN
Net Short Term Debt Issuance,NaN,NaN,14000000.0,24000000.0,-223000000.0
Net Long Term Debt Issuance,7397000000.0,9071000000.0,-677000000.0,-604000000.0,NaN
Long Term Debt Payments,-1058000000.0,-850000000.0,-677000000.0,-604000000.0,NaN
Long Term Debt Issuance,8455000000.0,9921000000.0,0.0,0.0,NaN
Investing Cash Flow,-24495000000.0,-28970000000.0,-7570000000.0,-30059000000.0,NaN
Cash Flow From Continuing Investing Activities,-24495000000.0,-28970000000.0,-7570000000.0,-30059000000.0,NaN
Net Other Investing Changes,-23000000.0,-4000000.0,-331000000.0,-36000000.0,NaN
Net Investment Purchase And Sale,3202000000.0,3532000000.0,12179000000.0,-14520000000.0,NaN
Sale Of Investment,6184000000.0,13158000000.0,42586000000.0,25771000000.0,NaN
Purchase Of Investment,-2982000000.0,-9626000000.0,-30407000000.0,-40291000000.0,NaN
Net Business Purchase And Sale,-629000000.0,-1312000000.0,-851000000.0,-388000000.0,NaN
Purchase Of Business,-629000000.0,-1312000000.0,-851000000.0,-388000000.0,NaN
Net PPE Purchase And Sale,-27045000000.0,-31186000000.0,-18567000000.0,-15115000000.0,NaN
Sale Of PPE,221000000.0,245000000.0,123000000.0,48000000.0,NaN
Purchase Of PPE,-27266000000.0,-31431000000.0,-18690000000.0,-15163000000.0,NaN
Operating Cash Flow,71113000000.0,50475000000.0,57683000000.0,38747000000.0,NaN
Cash Flow From Continuing Operating Activities,71113000000.0,50475000000.0,57683000000.0,38747000000.0,NaN
Change In Working Capital,3836000000.0,5683000000.0,700000000.0,-2723000000.0,NaN
Change In Other Working Capital,NaN,NaN,187000000.0,108000000.0,123000000.0
Change In Other Current Liabilities,624000000.0,886000000.0,941000000.0,-527000000.0,NaN
Change In Other Current Assets,-80000000.0,-106000000.0,-349000000.0,-34000000.0,NaN
Change In Payables And Accrued Expense,5132000000.0,4510000000.0,4968000000.0,-785000000.0,NaN
Change In Accrued Expense,5352000000.0,4210000000.0,3544000000.0,-946000000.0,NaN
Change In Payable,-220000000.0,300000000.0,1424000000.0,161000000.0,NaN
Change In Account Payable,51000000.0,210000000.0,1436000000.0,-17000000.0,NaN
Change In Prepaid Assets,559000000.0,162000000.0,-1750000000.0,135000000.0,NaN
Change In Receivables,-2399000000.0,231000000.0,-3110000000.0,-1512000000.0,NaN
Changes In Account Receivables,-2399000000.0,231000000.0,-3110000000.0,-1512000000.0,NaN
Other Non Cash Items,411000000.0,1982000000.0,-127000000.0,85000000.0,NaN
Stock Based Compensation,14027000000.0,11992000000.0,9164000000.0,6536000000.0,NaN
Unrealized Gain Loss On Investment Securities,NaN,463000000.0,-232000000.0,33000000.0,NaN
Asset Impairment Charge,2432000000.0,2218000000.0,0.0,0.0,NaN
Deferred Tax,131000000.0,-3286000000.0,609000000.0,-1192000000.0,NaN
Deferred Income Tax,131000000.0,-3286000000.0,609000000.0,-1192000000.0,NaN
Depreciation Amortization Depletion,11178000000.0,8686000000.0,7967000000.0,6862000000.0,NaN
Depreciation And Amortization,11178000000.0,8686000000.0,7967000000.0,6862000000.0,NaN
Net Income From Continuing Operations,39098000000.0,23200000000.0,39370000000.0,29146000000.0,NaN

In [14]:
ticker.quarterly_cashflow

,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30
Free Cash Flow,12846000000.0,11739000000.0,13859000000.0,11074000000.0,7175000000.0,NaN,NaN
Repurchase Of Capital Stock,-15008000000.0,-5942000000.0,-3569000000.0,-898000000.0,-9365000000.0,NaN,NaN
Repayment Of Debt,-315000000.0,-307000000.0,-267000000.0,-220000000.0,-264000000.0,NaN,NaN
Issuance Of Debt,NaN,0.0,0.0,NaN,NaN,0.0,9921000000.0
Capital Expenditure,-6400000000.0,-7665000000.0,-6543000000.0,-6235000000.0,-6823000000.0,NaN,NaN
Interest Paid Supplemental Data,121000000.0,146000000.0,120000000.0,0.0,182000000.0,NaN,NaN
Income Tax Paid Supplemental Data,630000000.0,4591000000.0,509000000.0,1102000000.0,405000000.0,NaN,NaN
End Cash Position,33284000000.0,42827000000.0,37900000000.0,29804000000.0,12420000000.0,NaN,NaN
Beginning Cash Position,42827000000.0,37900000000.0,29804000000.0,12420000000.0,15596000000.0,NaN,NaN
Effect Of Exchange Rate Changes,-288000000.0,396000000.0,-354000000.0,-14000000.0,85000000.0,NaN,NaN
Changes In Cash,-9255000000.0,4531000000.0,8450000000.0,17398000000.0,-3261000000.0,NaN,NaN
Financing Cash Flow,-19767000000.0,-8401000000.0,-5875000000.0,5292000000.0,-10516000000.0,NaN,NaN
Cash Flow From Continuing Financing Activities,-19767000000.0,-8401000000.0,-5875000000.0,5292000000.0,-10516000000.0,NaN,NaN
Net Other Financing Charges,-3171000000.0,-2152000000.0,-2039000000.0,-2045000000.0,-887000000.0,NaN,NaN
Cash Dividends Paid,-1273000000.0,NaN,NaN,NaN,0.0,NaN,NaN
Common Stock Dividend Paid,-1273000000.0,NaN,NaN,NaN,0.0,NaN,NaN
Net Common Stock Issuance,-15008000000.0,-5942000000.0,-3569000000.0,-898000000.0,-9365000000.0,NaN,NaN
Common Stock Payments,-15008000000.0,-5942000000.0,-3569000000.0,-898000000.0,-9365000000.0,NaN,NaN
Net Issuance Payments Of Debt,-315000000.0,-307000000.0,-267000000.0,8235000000.0,-264000000.0,NaN,NaN
Net Short Term Debt Issuance,NaN,NaN,NaN,NaN,NaN,NaN,-191000000.0
Net Long Term Debt Issuance,-315000000.0,-307000000.0,-267000000.0,8235000000.0,-264000000.0,NaN,NaN
Long Term Debt Payments,-315000000.0,-307000000.0,-267000000.0,-220000000.0,-264000000.0,NaN,NaN
Long Term Debt Issuance,NaN,0.0,0.0,NaN,NaN,0.0,9921000000.0
Investing Cash Flow,-8734000000.0,-6472000000.0,-6077000000.0,-5203000000.0,-6743000000.0,NaN,NaN
Cash Flow From Continuing Investing Activities,-8734000000.0,-6472000000.0,-6077000000.0,-5203000000.0,-6743000000.0,NaN,NaN
Net Other Investing Changes,NaN,-3000000.0,-10000000.0,-85000000.0,75000000.0,2000000.0,NaN
Net Investment Purchase And Sale,-2262000000.0,1187000000.0,467000000.0,1099000000.0,449000000.0,NaN,NaN
Sale Of Investment,4625000000.0,2359000000.0,1474000000.0,1817000000.0,534000000.0,NaN,NaN
Purchase Of Investment,-6887000000.0,-1172000000.0,-1007000000.0,-718000000.0,-85000000.0,NaN,NaN
Net Business Purchase And Sale,-72000000.0,-64000000.0,-38000000.0,-83000000.0,-444000000.0,NaN,NaN
Purchase Of Business,-72000000.0,-64000000.0,-38000000.0,-83000000.0,-444000000.0,NaN,NaN
Net PPE Purchase And Sale,-6400000000.0,-7592000000.0,-6496000000.0,-6134000000.0,-6823000000.0,NaN,NaN
Sale Of PPE,NaN,73000000.0,47000000.0,82000000.0,19000000.0,55000000.0,NaN
Purchase Of PPE,-6400000000.0,-7665000000.0,-6543000000.0,-6235000000.0,-6823000000.0,NaN,NaN
Operating Cash Flow,19246000000.0,19404000000.0,20402000000.0,17309000000.0,13998000000.0,NaN,NaN
Cash Flow From Continuing Operating Activities,19246000000.0,19404000000.0,20402000000.0,17309000000.0,13998000000.0,NaN,NaN
Change In Working Capital,223000000.0,-1271000000.0,-995000000.0,3531000000.0,2571000000.0,NaN,NaN
Change In Other Working Capital,NaN,NaN,NaN,NaN,NaN,NaN,-7000000.0
Change In Other Current Liabilities,83000000.0,663000000.0,-72000000.0,-151000000.0,184000000.0,NaN,NaN
Change In Other Current Assets,-94000000.0,-111000000.0,-36000000.0,37000000.0,30000000.0,NaN,NaN
Change In Payables And Accrued Expense,-2386000000.0,320000000.0,699000000.0,5123000000.0,-1010000000.0,NaN,NaN
Change In Accrued Expense,-1274000000.0,-350000000.0,78000000.0,5530000000.0,94000000.0,NaN,NaN
Change In Payable,-1112000000.0,670000000.0,621000000.0,-407000000.0,-1104000000.0,NaN,NaN
Change In Account Payable,-1112000000.0,594000000.0,612000000.0,-51000000.0,-1104000000.0,NaN,NaN
Change In Prepaid Assets,100000000.0,700000000.0,-908000000.0,-54000000.0,821000000.0,NaN,NaN
Change In Receivables,2520000000.0,-2843000000.0,-678000000.0,-1424000000.0,2546000000.0,NaN,NaN
Changes In Account Receivables,2520000000.0,-2843000000.0,-678000000.0,-1424000000.0,2546000000.0,NaN,NaN
Other Non Cash Items,-66000000.0,133000000.0,74000000.0,211000000.0,-7000000.0,NaN,NaN
Stock Based Compensation,3562000000.0,3424000000.0,3492000000.0,4060000000.0,3051000000.0,NaN,NaN
Asset Impairment Charge,240000000.0,1090000000.0,340000000.0,232000000.0,770000000.0,NaN,NaN
Deferred Tax,-456000000.0,-1161000000.0,3049000000.0,-1137000000.0,-620000000.0,NaN,NaN
Deferred Income Tax,-456000000.0,-1161000000.0,3049000000.0,-1137000000.0,-620000000.0,NaN,NaN
Depreciation Amortization Depletion,3374000000.0,3172000000.0,2859000000.0,2623000000.0,2524000000.0,NaN,NaN
Depreciation And Amortization,3374000000.0,3172000000.0,2859000000.0,2623000000.0,2524000000.0,NaN,NaN
Net Income From Continuing Operations,12369000000.0,14017000000.0,11583000000.0,7789000000.0,5709000000.0,NaN,NaN

In [15]:
ticker.earnings

YFNotImplementedError: Have not implemented fetching 'earnings' from Yahoo API

In [16]:
ticker.quarterly_earnings

YFNotImplementedError: Have not implemented fetching 'earnings' from Yahoo API

### Sustainability: Environmental, Social and Governance (ESG)

In [17]:
ticker.sustainability

                                     Value
2020-10
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                          17.68
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              102
governanceScore                      12.28
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             31.40
highestControversy                       4
esgPerformance                    OUT_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           61.39
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.43
governancePercentile                  None
militaryContract                     False

### Analyst Recommendations

In [18]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 511 entries, 2012-06-22 07:56:00 to 2020-10-30 17:14:48
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        511 non-null    object
 1   To Grade    511 non-null    object
 2   From Grade  511 non-null    object
 3   Action      511 non-null    object
dtypes: object(4)
memory usage: 20.0+ KB

In [19]:
ticker.recommendations.tail(10)

                                  Firm    To Grade From Grade Action
Date
2020-10-20 12:31:45      Credit Suisse  Outperform              main
2020-10-26 08:50:44            KeyBanc  Overweight              main
2020-10-28 16:47:21          JP Morgan  Overweight              main
2020-10-30 11:53:22      Raymond James  Strong Buy              main
2020-10-30 12:45:43      Credit Suisse  Outperform              main
2020-10-30 12:50:35     Morgan Stanley  Overweight              main
2020-10-30 15:15:15  Canaccord Genuity         Buy              main
2020-10-30 17:03:14             Mizuho         Buy              main
2020-10-30 17:06:53        Wells Fargo  Overweight              main
2020-10-30 17:14:48  Truist Securities         Buy              main

### Upcoming Events

In [20]:
ticker.calendar

                                    0                    1
Earnings Date     2021-01-27 00:00:00  2021-02-01 00:00:00
Earnings Average                 3.19                 3.19
Earnings Low                     2.67                 2.67
Earnings High                    3.63                 3.63
Revenue Average           26288700000          26288700000
Revenue Low               25412000000          25412000000
Revenue High              26993000000          26993000000

### Option Expiration Dates

In [21]:
ticker.options

('2020-12-30',
 '2021-01-07',
 '2021-01-14',
 '2021-01-21',
 '2021-01-28',
 '2021-02-04',
 '2021-02-18',
 '2021-03-18',
 '2021-06-17',
 '2021-07-15',
 '2021-09-16',
 '2022-01-20',
 '2022-06-16',
 '2022-09-15',
 '2023-01-19',
 '2026-02-20')

In [22]:
expiration = ticker.options[0]

In [23]:
options = ticker.option_chain(expiration)

In [24]:
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     45 non-null     object
 1   lastTradeDate      45 non-null     datetime64[ns]
 2   strike             45 non-null     float64
 3   lastPrice          45 non-null     float64
 4   bid                45 non-null     float64
 5   ask                45 non-null     float64
 6   change             45 non-null     float64
 7   percentChange      45 non-null     float64
 8   volume             45 non-null     int64
 9   openInterest       45 non-null     int64
 10  impliedVolatility  45 non-null     float64
 11  inTheMoney         45 non-null     bool
 12  contractSize       45 non-null     object
 13  currency           45 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(7), int64(2), object(3)
memory usage: 4.7+ KB

In [25]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,FB201231C00195000,2020-12-30 20:54:40,195.0,77.60,76.35,77.5,-4.200005,-5.134480,1,21,1.773439,True,REGULAR,USD
1,FB201231C00200000,2020-12-30 20:39:19,200.0,72.50,71.35,72.5,-5.250000,-6.752411,7,33,1.648439,True,REGULAR,USD
2,FB201231C00205000,2020-12-30 20:22:11,205.0,68.29,66.35,67.5,-4.870003,-6.656647,11,49,1.531252,True,REGULAR,USD
3,FB201231C00210000,2020-12-29 20:31:41,210.0,68.18,61.35,62.5,0.000000,0.000000,2,43,1.414065,True,REGULAR,USD
4,FB201231C00215000,2020-12-24 15:29:26,215.0,55.50,56.35,57.5,0.000000,0.000000,3,35,1.296879,True,REGULAR,USD

In [26]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     43 non-null     object
 1   lastTradeDate      43 non-null     datetime64[ns]
 2   strike             43 non-null     float64
 3   lastPrice          43 non-null     float64
 4   bid                43 non-null     float64
 5   ask                43 non-null     float64
 6   change             43 non-null     float64
 7   percentChange      43 non-null     float64
 8   volume             42 non-null     float64
 9   openInterest       43 non-null     int64
 10  impliedVolatility  43 non-null     float64
 11  inTheMoney         43 non-null     bool
 12  contractSize       43 non-null     object
 13  currency           43 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 4.5+ KB

## Data Download with proxy server

You can use a proxy server to avoid having your IP blacklisted as illustrated below (but need an actual PROXY_SERVER).

In [27]:
PROXY_SERVER = 'PROXY_SERVER'

The following will only work with proper PROXY_SERVER...

In [28]:
# msft = yf.Ticker("MSFT")

# msft.history(proxy=PROXY_SERVER)
# msft.get_actions(proxy=PROXY_SERVER)
# msft.get_dividends(proxy=PROXY_SERVER)
# msft.get_splits(proxy=PROXY_SERVER)
# msft.get_balance_sheet(proxy=PROXY_SERVER)
# msft.get_cashflow(proxy=PROXY_SERVER)
# msft.option_chain(proxy=PROXY_SERVER)

## Downloading multiple symbols

In [29]:
tickers = yf.Tickers('msft aapl goog')

In [30]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOG>

In [31]:
pd.Series(tickers.tickers['MSFT'].info)

zip                                                                98052-6399
sector                                                             Technology
fullTimeEmployees                                                      163000
longBusinessSummary         Microsoft Corporation develops, licenses, and ...
city                                                                  Redmond
                                                  ...
impliedSharesOutstanding                                                 None
category                                                                 None
fiveYearAverageReturn                                                    None
regularMarketPrice                                                     225.23
logo_url                              https://logo.clearbit.com/microsoft.com
Length: 123, dtype: object

In [32]:
tickers.tickers['AAPL'].history(period="1mo")

              Open    High     Low   Close     Volume  Dividends  Stock Splits
Date
2020-11-30  116.97  120.97  116.81  119.05  169410200          0             0
2020-12-01  121.01  123.47  120.01  122.72  128166800          0             0
2020-12-02  122.02  123.37  120.89  123.08   89004200          0             0
2020-12-03  123.52  123.78  122.21  122.94   78967600          0             0
2020-12-04  122.60  122.86  121.52  122.25   78260400          0             0
2020-12-07  122.31  124.57  122.25  123.75   86712000          0             0
2020-12-08  124.37  124.98  123.09  124.38   82225500          0             0
2020-12-09  124.53  125.95  121.00  121.78  115089200          0             0
2020-12-10  120.50  123.87  120.15  123.24   81312200          0             0
2020-12-11  122.43  122.76  120.55  122.41   86939800          0             0
2020-12-14  122.60  123.35  121.54  121.78   79184500          0             0
2020-12-15  124.34  127.90  124.13  127.88  157572300          0             0
2020-12-16  127.41  128.37  126.56  127.81   98208600          0             0
2020-12-17  128.90  129.58  128.04  128.70   94359800          0             0
2020-12-18  128.96  129.10  126.12  126.66  192541500          0             0
2020-12-21  125.02  128.31  123.45  128.23  121251600          0             0
2020-12-22  131.61  134.41  129.65  131.88  168904800          0             0
2020-12-23  132.16  132.43  130.78  130.96   88223700          0             0
2020-12-24  131.32  133.46  131.10  131.97   54930100          0             0
2020-12-28  133.99  137.34  133.51  136.69  124486200          0             0
2020-12-29  138.05  138.79  134.34  134.87  120778200          0             0
2020-12-30  135.58  135.99  133.40  133.72   92882124          0             0

In [33]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                       Close  Dividends         High          Low  \
Date
2020-11-30 AAPL   119.050003          0   120.970001   116.809998
           GOOG  1760.739990          0  1788.064941  1755.000000
           MSFT   214.070007          0   214.759995   210.839996
2020-12-01 AAPL   122.720001          0   123.470001   120.010002
           GOOG  1798.099976          0  1824.829956  1769.369995
...                      ...        ...          ...          ...
2020-12-29 GOOG  1758.719971          0  1792.439941  1756.089966
           MSFT   224.149994          0   227.179993   223.580002
2020-12-30 AAPL   133.720001          0   135.990005   133.399994
           GOOG  1739.520020          0  1765.094971  1725.680054
           MSFT   221.679993          0   225.630005   221.470001

                        Open  Stock Splits     Volume
Date
2020-11-30 AAPL   116.970001             0  169410200
           GOOG  1781.183960             0    1823800
           MSFT   214.100006             0   33064800
2020-12-01 AAPL   121.010002             0  128166800
           GOOG  1774.369995             0    1739000
...                      ...           ...        ...
2020-12-29 GOOG  1787.790039             0    1298600
           MSFT   226.309998             0   17348000
2020-12-30 AAPL   135.580002             0   92882124
           GOOG  1762.010010             0    1293285
           MSFT   225.229996             0   19273172

[66 rows x 7 columns]

In [34]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [36]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4045 entries, 2020-12-23 04:15:00-05:00 to 2020-12-30 17:10:00-05:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (MSFT, Open)    2500 non-null   float64
 1   (MSFT, High)    2500 non-null   float64
 2   (MSFT, Low)     2500 non-null   float64
 3   (MSFT, Close)   2500 non-null   float64
 4   (MSFT, Volume)  2500 non-null   float64
 5   (AAPL, Open)    3843 non-null   float64
 6   (AAPL, High)    3843 non-null   float64
 7   (AAPL, Low)     3843 non-null   float64
 8   (AAPL, Close)   3843 non-null   float64
 9   (AAPL, Volume)  3843 non-null   float64
 10  (SPY, Open)     3358 non-null   float64
 11  (SPY, High)     3358 non-null   float64
 12  (SPY, Low)      3358 non-null   float64
 13  (SPY, Close)    3358 non-null   float64
 14  (SPY, Volume)   3358 non-null   float64
dtypes: float64(15)
memory usage: 505.6 KB

In [38]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [39]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700

In [40]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,283.410553,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,282.781616,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,282.607452,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,283.923462,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,284.368561,57197700